<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="cadena_conexion" connectionString="Data Source=VIVRO;Initial Catalog=FERRELABASE;Integrated Security=True;" providerName="System.Data.sqlClient" />-->
		<add name="cadena_conexion" connectionString="Data Source=SQL8010.site4now.net;Initial Catalog=db_aa96f8_ferrelabase;User Id=db_aa96f8_ferrelabase_admin;Password=Loleroop69$" providerName="System.Data.sqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITimbrado" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.facturacenter.com.mx/Timbrado.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimbrado"
        contract="ServiceReferenceFC.ITimbrado" name="BasicHttpBinding_ITimbrado" />
    </client>
  </system.serviceModel>
</configuration>